streamlit==1.45.1
pandas==2.3.2
numpy==2.2.6
pydeck==0.9.1
altair==5.5.0
scikit-learn==1.7.2
scipy==1.16.2
ortools==9.14.6206
loguru==0.7.3
pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1